html {
  font-family: Arial;
  font-size: 13px;
}

ul{
  list-style-type: none;
  margin:0;
  padding:0;
}

li a{
  position: relative;
  top:5px;
  float: right;
  padding: 8px 16px;
  color: #666;
}

li a:hover {
  text-decoration: underline;
}

a:link, a:visited{
  text-decoration: none;
  color: #666;
}

footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f2f2f2;
  margin-top: 50px;
  height: 45px;
  border-top-style: solid;
  border-top-color: silver;
  border-top-width: 1px;
}

.top-left {
  float: left;
}

.bot-left {
  float: left;
}

.logo {
  text-align: center;
  margin-top: 160px;
  margin-bottom: 50px;
}

.search {
  position: absolute;
  z-index: 2;
  left: 400px;
  top: 310px;
}

.searchbar {
  border-width: .5px;
  border-color: #dedede;
  box-shadow: 2px 2px #f1f1f1;
  width: 560px;
  height: 30px;
}

.searchbar:hover{
  box-shadow: 1px 2px black;
}

.buttondiv {
  margin:10px;
  padding:20px;
  text-align:center;  
}
.button {
  border: none;
  padding:12px;
  margin: 5px; 
  background-color:#f3f3f3;
  border-width: 1px;
  border-color:black;
  color: #757575;
  text-align: center;
  -webkit-appearance: none;
}

.button:hover {
  border: solid;
  background-color: #f9fafc;
  border-width:1px;
  border-color:black;
  border-radius: 2px;
}
#mic {
  position: absolute;
  right: 0; 
  top:2px;
}